.curseclient
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
crash-reports/
defaultconfigs/
fancymenu_data/
knownkeys.txt
logs/
minecraftinstance.json
mods/
options.txt
optionsof.txt
patchouli_data.json
resourcepacks/
saves/
screenshots/
servers.dat
servers.dat_old
usercache.json
usernamecache.json
config/byg/backups/last_working_configs_backup.zip
config/jei/ingredient-list-mod-sort-order.ini
config/jei/world/server/Minecraft_Server_7a368403/bookmarks.ini
config/byg/backups/last_working_configs_backup.zip
config/jei/ingredient-list-mod-sort-order.ini
config/jei/world/server/Minecraft_Server_7a368403/bookmarks.ini
config/xaerominimap.txt
config/xaerominimap_entities.json
