.curseclient
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
crash-reports/
defaultconfigs/
fancymenu_data/
knownkeys.txt
logs/
minecraftinstance.json
mods/
options.txt
optionsof.txt
patchouli_data.json
resourcepacks/
saves/
screenshots/
servers.dat
servers.dat_old
usercache.json
usernamecache.json